# Before you make thes larger, make sure your
# database is configured to take larger blobs

php_value upload_max_filesize 5M
php_value post_max_size 5M
php_value max_execution_time 30000
php_value max_input_time 30000
